#ifndef INFLUXDB_URL
	#define INFLUXDB_URL "http://some.url.local:8086"
	#define INFLUXDB_DB_NAME "database name"
	#define INFLUXDB_USER "user"
	#define INFLUXDB_PASSWORD "password"
#endif

#ifndef STASSID
	#define STASSID "ssid name"
	#define STAPSK "wpa psk"
#endif